@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
*{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
    list-style: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* 전체 구역 */

#main{
    width: 1200px; 
    margin: 0 auto;
}


/* 메인 컨텐츠 */
.content{
    width: 600px;
    margin: 0 auto;
}


/* 메인 컨텐츠 상단 */
.top {
    width: 860px;
    margin: 0 auto;
    margin-top: 70px;
}
.top > h3{
    font-size: 30px;
    color: #81674e;
    padding-bottom: 10px;
    border-bottom: 3px solid #81674e;
}


/* 회원/비회원 */
.contTit {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #81674e;
    height: 50px;
}
.contTit > div{
    text-align: center;
    width: 485px;
    border: 1px solid #eeeeee;
    padding-top: 10px;
    
}
.contTit > div:nth-child(1){
    color: #81674e;
    font-weight: bold;
    border-bottom: 5px solid #81674e;
}
.contTit > div:nth-child(2){
    background-color: #faf9f7;
    color: darkgray;
}


/* 인사말 */
.hello{
    text-align: center;
    margin: 45px 0px;
}
.hello > h2{
    font-size: 30px;
    color: #81674e;
    margin-bottom: 10px;
    text-align: center;
}
.hello > span{
    color: gray;
}
.hello > span:nth-last-child(1){
    font-size: 14px;
}


/* 로그인 구역 */
.login{
    background-color:#fff4ea;
    padding: 70px 0px;
    text-align: center;
}
.loginBox{
    width: 400px ;
    margin: 0 auto;
    align-items: center;
}
.idSave{
    margin: 10px 0px;
    text-align: left;
}
.loginWrite{
    display: flex;
    justify-content: center;
    align-items: center;

}
.loginWrite > div > input{
    width: 270px;
    height: 30px;
    padding-left: 10px;
}
.loginWrite > div > input:nth-child(1){
    margin-bottom: 5px;
}

.loginWrite > button{
    width: 130px;
    height: 64px;
    margin-left: 10px;
    background-color: #3a3125;
    color: #ffff;
    border: none;
    text-align: center;
}
.btnBox{
    display: flex;
    justify-content: space-between;
}
.btnBox > button:nth-child(1){
    background-color: #3a3125;
}
.btnBox > button:nth-child(1) > a{
    color: #ffff;
}
.btnBox > button{
    background-color: #81674e;
    color: #ffff;
    border: none;
    width: 130px;
    height: 35px;
    text-align: center;
}
.notice{
    background-color: #fbfbfb;
    color: gray;
    font-size: 14px;
    border: 1px solid #eeeeee;
    margin: 10px 0px;
    padding: 10px 0px;
    text-align: center;
    align-items: center;
}
.on{
    background-color: #fff4ea;
    padding: 30px 0px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.on > button{
    width: 200px;
    margin-top: 20px;
    height: 40px;
    background-color: darkgray;
    color: #ffff;
    border: none;
    text-align: center;
}