#main {
    position : relative;
}

/* #region #pInformation */

#pInformation {
    margin : 0px auto;
    padding : 30px 40px;
    width : 1200px;
}
#pInformation > #cName {
    margin : 30px 0px;
}
#pInformation > #cName > p {
    font-size : 30px;
    font-weight : bold;
}
#pInformation > #customerInfo {
    margin-bottom : 50px;
}

/* #region .customerClassClose */
#pInformation > #customerInfo > #customerBox > .customerClassClose {
    margin-bottom : 20px;
}
#pInformation > #customerInfo > #customerBox > .customerClassClose > label {
    margin-right : 10px;
    font-size : 24px;
}
#pInformation > #customerInfo > #customerBox > .customerClassClose > input {
    padding : 0px 10px;
    width : 200px;
    background-color : inherit;
    /* border : solid 2px black; */
    border-width : 0px 0px 0px 0px;
    color : black;
    font-size : 24px;
}
/* #endregion .customerClassClose */

/* #region .customerClassOpen */
#pInformation > #customerInfo > #customerBox > .customerClassOpen {
    margin-bottom : 20px;
}
#pInformation > #customerInfo > #customerBox > .customerClassOpen > label {
    margin-right : 10px;
    font-size : 24px;
}
#pInformation > #customerInfo > #customerBox > .customerClassOpen > input {
    padding : 0px 10px;
    width : 200px;
    background-color : inherit;
    font-size : 24px;text-align : center;
}
/* #endregion .customerClassOpen */

/* #region .customerClassDisappear */
#pInformation > #customerInfo > #customerBox > .customerClassDisappear {
    display : none;
    margin-bottom : 20px;
}
#pInformation > #customerInfo > #customerBox > .customerClassDisappear > label {
    margin-right : 10px;
    font-size : 24px;
}
#pInformation > #customerInfo > #customerBox > .customerClassDisappear > input {
    padding : 0px 10px;
    width : 200px;
    background-color : inherit;
    font-size : 24px;
}
/* #endregion .customerClassDisappear */

/* #region .customerClassAppear */
#pInformation > #customerInfo > #customerBox > .customerClassAppear {
    display : flex;
    align-items : center;
    margin-bottom : 20px;
}
#pInformation > #customerInfo > #customerBox > .customerClassAppear > label {
    margin-right : 10px;
    font-size : 24px;
}
#pInformation > #customerInfo > #customerBox > .customerClassAppear > input {
    padding : 0px 10px;
    width : 200px;
    background-color : inherit;
    font-size : 24px;
}
/* #endregion .customerClassAppear */

#pInformation > #customerInfo > #customerBox > #customerPhone > input {
    width : 190px;
}
#pInformation > #customerInfo > #customerBox > #customerBirth > input {
    width : 110px;
}
#pInformation > #customerInfo > #customerBox > #customerAddress > input {
    width : 500px;
}
#pInformation > #customerInfo > #customerBox > #customerAddress > label {
    margin : 0px 54px 0px 0px; /* 0px 30px 0px 24px */
    font-size : 24px;
}
#pInformation > #customerInfo > #customerBox > #customerName > label {
    margin : 0px 54px 0px 0px; /* 0px 30px 0px 24px */
    font-size : 24px;
}
#pInformation > #customerInfo > #customerBox > #customerName > input {
    padding : 0px 10px;
    width : 150px;
    background-color : inherit;
    font-size : 24px;
    text-align : center;
}
#pInformation > #customerInfo > #customerBox > #customerPassword > input {
    padding : 0px 10px;
    width : 100px;
    background-color : inherit;
    font-size : 24px;
}

/* #endregion #pInformation */

/* #region #bookingHistory */

#bookingHistory {
    margin : 0px auto;
    padding : 20px 40px;
    width : 1200px;
}
#bookingHistory > #bHistory > p {
    margin-bottom : 30px;
    font-size : 30px;
    font-weight : bold;
}

table, tr {
    border : solid 2px black;
    border-collapse: collapse;
}
td, th {
    padding : 5px 0px;
    border-left : solid 2px black;
}
th {
    font-weight : bold;
}

/* #endregion bookingHistory */

/* #region #writeReviewBox */

#writeReviewBox {
    margin : 0px 362px;
    padding : 18px;
    width : 534px;
    border-radius: 10px;
}
#checkEstimation {
    margin : 30px 10px;
}
#checkEstimation > select {
    padding : 0px 10px;
}
#writeContent {
    margin : 30px 10px;
}
#writeContent > input{
    width : 230px;
}
#writeButton {
    /* margin : 0px 175px; */
    margin-left : calc(100% - 100px);
    /* margin : 0px 100%; */
}

/* #endregion #writeReviewBox */

#deleteCustomer, #changeInfo {
    margin-left : 20px;
    padding : 10px 18px;
    width : 100px;
    height : 50px;
    border : none;
    color : white;
    background-color : #81674e;
    border-radius : 10px;
    box-shadow : 0px 0px 6px #81674e;
    text-align : center;
    cursor : pointer;
}
#deleteCustomer:hover, #changeInfo:hover, .cancelBtn:hover, .normalBtn:hover {
    color : #81674e;
    background-color : white;
    transition-duration : 0.5s;
    transition-timing-function: ease;
}
.cancelBtn {
    width : 40px;
    text-align : center;
    border : none;
    color : white;
    background-color : #81674e;
    border-radius : 5px;
    box-shadow : 0px 0px 6px #81674e;
    cursor : pointer;
}
.closeBtn {
    width : 40px;
    border-radius : 5px;
    text-align : center;
}
.normalBtn {
    padding : 10px 18px;
    width : 100px;
    height : 50px;
    border : none;
    color : white;
    background-color : #81674e;
    border-radius : 10px;
    box-shadow : 0px 0px 6px #81674e;
    text-align : center;
    cursor : pointer;
}
#visibility {
    margin-left : 5px;
    display : inline-block; 
    background : url(../images/visibility_off.svg) no-repeat;
    background-size : contain;    
    width : 30px;
    height : 30px;
    cursor : pointer;
}